.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: .5rem
}

.App-link {
  color: #61dafb;
}

.about-container {
  background-color: #282c34;
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.icon {
  color: white;
  height: 8vmin;
  width: 8vmin;
  margin: 10px;
}
